---
import Hero from '@components/partials/Hero.astro';
import LinkCard from '@components/partials/LinkCard.astro';
import Layout from '@layouts/Layout.astro';

import { getWorks } from '../../lib/microcms';
const response = await getWorks({ fields: ['id', 'title', 'titleSub', 'thumbnail'] });

const title = '制作実績';
const description = '私のこれまでの制作実績をご紹介します。';
---

<Layout title={title} description={description}>
  <Hero title=`制作実績` titleEn=`works` />
  <div class="container mb-[160px] mt-[120px] lg:mb-[200px] lg:mt-[160px]">
    <ul
      class="grid w-full grid-cols-1 gap-12 md:grid-cols-2 md:gap-[calc(40/1440*100vw)] lg:grid-cols-3 2xl:gap-10"
    >
      {
        response.contents?.map((content) => (
          <li class="contents">
            <LinkCard
              link={`/works/${content.id}`}
              image={content.thumbnail}
              title={content.title}
              titleSub={content.titleSub}
            />
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
