---
import Hero from '@components/partials/Hero.astro';
import LinkCard from '@components/partials/LinkCard.astro';
import Layout from '@layouts/Layout.astro';

import { getWorks } from '../../lib/microcms';
const response = await getWorks({ fields: ['id', 'title', 'titleSub', 'thumbnail'] });

const title = 'ブログ';
const description = 'sdenvに関するブログの一覧です。';
---

<Layout title={title} description={description}>
  <Hero title=`制作実績` titleEn=`works` />
  <div class="container mb-[100px] mt-[80px] lg:my-[120px]">
    <ul
      class="grid w-full grid-cols-1 gap-12 md:grid-cols-3 md:gap-[calc(56/1440*100vw)] 2xl:gap-14"
    >
      {
        response.contents?.map((content) => (
          <li class="contents">
            <LinkCard
              link={`/works/${content.id}`}
              image={content.thumbnail}
              title={content.title}
              titleSub={content.titleSub}
            />
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
