---
import Hero from '@components/partials/Hero.astro';
import LinkCard from '@components/partials/LinkCard.astro';
import Layout from '@layouts/Layout.astro';

import imageWorks01 from '@assets/image-works01.jpg';
import imageWorks02 from '@assets/image-works02.jpg';
import imageWorks03 from '@assets/image-works03.jpg';

const works = [
  {
    client: 'クライアント名1',
    title: '実績1',
    image: imageWorks01,
  },
  {
    client: 'クライアント名2',
    title: '実績2',
    image: imageWorks02,
  },
  {
    client: 'クライアント名3',
    title: '実績3',
    image: imageWorks03,
  },
];

const title = 'ブログ';
const description = 'sdenvに関するブログの一覧です。';
---

<Layout title={title} description={description}>
  <Hero title=`制作実績` titleEn=`works` />
  <div class="container mt-[80px] lg:mt-[100px]">
    <ul
      class="grid w-full grid-cols-1 gap-12 md:grid-cols-3 md:gap-[calc(56/1440*100vw)] 2xl:gap-14"
    >
      {
        works.map((work) => (
          <li class="contents">
            <LinkCard image={work.image} title={work.title} client={work.client} />
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
