---
import Hero from '@components/partials/Hero.astro';
import Layout from '@layouts/Layout.astro';
import SectionTitle from '@components/partials/SectionTitle.astro';
import ImageProfile from '@assets/image_profile.jpg';
import ImageAbout01 from '@assets/image_about01.jpg';
import ImageAbout02 from '@assets/image_about02.jpg';
import ImageAbout03 from '@assets/image_about03.jpg';
import ImageAbout04 from '@assets/image_about04.jpg';
import ImageAbout05 from '@assets/image_about05.jpg';

const career = [
  {
    year: '2018.4',
    description:
      'プロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入ります',
  },
  {
    year: '2019.4',
    description:
      'プロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入ります',
  },
  {
    year: '2021.4',
    description:
      'プロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入ります',
  },
  {
    year: '2022.4',
    description:
      'プロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入ります',
  },
  {
    year: '2023.4',
    description:
      'プロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入ります',
    image: '',
  },
  {
    year: '2023.7',
    description:
      'プロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入ります',
    image: '',
  },
  {
    year: '2024.11',
    description:
      'プロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入ります',
    image: '',
  },
];

const aboutImages = [ImageAbout01, ImageAbout02, ImageAbout03, ImageAbout04, ImageAbout05];

const title = '私について';
const description = '私自身のことについて紹介します。';
---

<Layout title={title} description={description}>
  <Hero title=`私について` titleEn=`about` />
  <div class="container mt-[120px] lg:mt-[160px]">
    <div class="flex flex-col items-center gap-[55px] md:flex-row md:items-start">
      <div
        class="aspect-square w-[300px] shrink-0 overflow-hidden rounded-full md:w-[200px] lg:w-[300px]"
      >
        <img src={ImageProfile.src} alt="" class="size-full object-cover" />
      </div>
      <div class="w-auto">
        <p class="text-32 font-bold leading-160">徳山 申太郎</p>
        <p class="mt-5 text-16 leading-160">
          1995年1月10日生まれ。広島県出身。大学進学を機に横浜へ。<br />
          横浜国立大学を卒業後、地元広島へ戻り5年間公務員として勤務していました。<br />
          入札関係業務や、ハローワークの窓口での雇用保険の手続き業務、職業相談の業務などを経験しました。<br
          />
          公務員として働く中で、「勉強して何か誇れるものを身につけたい」「目に見える形になるものを生み出す仕事をしたい」という思いを抱くようになり転職を決意しました。<br
          />
          公務員を退職後、デジタルハリウッドSTUDIO広島に入学し、ウェブサイト制作の勉強をスタートしました。<br
          />
          在学中に株式会社フォノグラムにパートとして入社し、ウェブサイト制作のコーディングを担当。エンジニアとしてのキャリアをスタートさせました。<br
          />
          現在はネヴァーズ株式会社で、フロントエンドエンジニアとしてウェブサイトの制作に携わっています。
        </p>
      </div>
    </div>
  </div>
  <div class="container mt-[120px] lg:mt-[160px]">
    <h2 class="text-center text-[38px] font-bold leading-160 tracking-normal lg:text-[48px]">
      エンジニアとして<br class="xs:hidden" />目指す姿
    </h2>
    <p class="mt-[30px] text-16 leading-160 tracking-normal">
      私はこれまでエンジニアとしてウェブサイトの制作に携わる中で、自分の目指す姿として<span
        class="font-bold text-blue">「人を幸せにするエンジニア」</span
      >というものを掲げるようになりました。<br />
      自分がコーディングを担当したサイトに対してお客さまから喜びの声をいただけたときや、担当した採用サイトをきっかけに応募者が増えたという声をいただけたときに、自分の仕事がお客さまの課題解決に少しでも貢献できていることを知り、大きな喜びとやりがいを感じられました。<br
      />
      実際にお客さまからの声をいただく中で、ただコーディングをするだけでなく、お客さまの価値を高め、幸せを生み出せるようなウェブサイトを作れるようになりたいと思い、<span
        class="font-bold text-blue">「人を幸せにするエンジニア」</span
      >という自分の目指す姿を定めました。<br />
      目指す姿の実現に向け、未経験の技術にも積極的に挑戦し、専門領域を拡大することで、クオリティの高いサイト制作を実現できるよう日々研鑽を重ねております。
    </p>
  </div>
  <div class="container mt-[120px] lg:mt-[160px]">
    <SectionTitle title="経歴" titleEn="Carrer" />
    <div class="mt-14 border-l border-black lg:mt-[60px]">
      {
        career.map((period) => (
          <div class="relative pb-12 pl-[30px] pt-[2px] before:absolute before:left-[-12px] before:top-0 before:size-6 before:rounded-full before:bg-lightBlue before:content-[''] md:pb-[60px] md:pt-0 md:before:left-[-14px] md:before:size-7 [&:last-child]:pb-0">
            <div class="flex flex-col justify-between gap-[30px] md:flex-row md:gap-[100px] lg:gap-[160px]">
              <div class="w-[100px] shrink-0">
                <p class="text-20 font-bold md:text-24">{period.year}</p>
              </div>
              <div class="w-auto">
                <p class="text-16 leading-160 tracking-normal">{period.description}</p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
  <div class="my-[120px] lg:my-[160px]">
    <div class="slider-container">
      <div class="slider-wrapper">
        {
          Array(3)
            .fill(null)
            .map((_, index) => (
              <div class="slider">
                {aboutImages.map((aboutImage) => (
                  <div class="slide-move slider-cardWrapper">
                    <div class="slider-card">
                      <img src={aboutImage.src} alt="" class="size-full object-cover" />
                    </div>
                  </div>
                ))}
              </div>
            ))
        }
      </div>
    </div>
  </div>
</Layout>
