---
const { link, image, title, titleSub } = Astro.props;
---

<a
  x-data="hover"
  @mouseenter="rollEnter"
  @mouseleave="rollLeave"
  data-enter-time="500"
  data-leave-time="700"
  href={link}
  class="row-span-3 grid w-full grid-rows-subgrid gap-0 rounded-[10px] bg-white drop-shadow-[0_0_8px_rgba(0,0,0,0.15)] transition-[filter] duration-500 [.is-hover&]:drop-shadow-[0_0_8px_rgba(0,0,0,0.3)]"
>
  <div class="aspect-[1.5] w-full overflow-hidden rounded-t-[10px]">
    <img
      src={image.url}
      alt={title}
      class="size-full object-cover transition-transform duration-500 [.is-hover_&]:scale-105 [.is-hover_&]:duration-700"
    />
  </div>
  <p
    class="mt-4 px-5 text-16 font-bold leading-160 transition-colors duration-500 md:mt-5 lg:text-[17px] [.is-hover_&]:text-blue [.is-hover_&]:duration-500"
  >
    {title}
  </p>
  <p
    class="mt-2 px-5 pb-5 text-13 leading-160 transition-colors duration-500 lg:pb-6 lg:text-14 [.is-hover_&]:text-blue [.is-hover_&]:duration-500"
  >
    {titleSub}
  </p>
</a>
