---
interface Props {
  title: string;
  titleEn?: string;
  titleSub?: string;
}

const { title, titleEn, titleSub } = Astro.props;
---

{
  titleEn ? (
    <h1 class="flex w-fit flex-col">
      <span class="text-18 font-bold leading-140 tracking-02 text-blue">{title}</span>
      <span class="text-48 font-bold capitalize leading-140 tracking-02 lg:text-56">{titleEn}</span>
    </h1>
  ) : titleSub ? (
    <>
      <h1 class="text-36 font-bold capitalize leading-140 tracking-02 lg:text-48">{title}</h1>
      <p class="mt-5 text-20 leading-140 tracking-02 lg:text-24">{titleSub}</p>
    </>
  ) : (
    <h1 class="w-fit text-36 font-bold capitalize leading-140 tracking-02 lg:text-48">{title}</h1>
  )
}
