---
import appleTouchIconImage from '../assets/apple-touch-icon.png';
import faviconImage from '../assets/favicon.ico';
import defaultOpenGraphImage from '../assets/opengraph-image.png';
import { siteLang, siteRegion, siteTitle, siteTwitterId } from '../consts';

import Header from '../components/common/Header.astro';
import Footer from '../components/common/Footer.astro';

interface BaseProps {
  isHome?: false | undefined;
  is404?: false | undefined;
  title: string;
  description?: string | undefined;
  ogType?: 'website' | 'article' | undefined;
  ogImage?: string | undefined;
}

// eslint-disable-next-line @typescript-eslint/no-empty-object-type
interface GeneralProps extends BaseProps {}

interface HomeProps extends Omit<BaseProps, 'isHome' | 'title'> {
  isHome: true;
  tagline: string;
}

interface NotFoundProps extends Omit<BaseProps, 'is404'> {
  is404: true;
}

type Props = GeneralProps | HomeProps | NotFoundProps;

const isHome = Astro.props.isHome === true;
const is404 = Astro.props.is404 === true;

const { description, ogType = 'website', ogImage = defaultOpenGraphImage.src } = Astro.props;

const resolvedOgImage = new URL(ogImage, Astro.site);

const canonicalURL = (() => {
  if (is404) {
    return null;
  }
  return new URL(Astro.url.pathname, Astro.site);
})();

const navItems = [
  {
    name: 'home',
    link: '/',
  },
  {
    name: 'works',
    link: '/works',
  },
  {
    name: 'about',
    link: '/#about',
  },
];
---

<!--
  https://bugs.chromium.org/p/chromium/issues/detail?id=1378462
  https://schepp.dev/posts/smooth-scrolling-and-page-search/
-->
<html lang={siteLang}>
  <head>
    {
      /**
       * sort the order of elements in the `<head>` to improve performance
       * https://speakerdeck.com/csswizardry/get-your-head-straight?slide=39
       */
    }

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title set:html={[!isHome && Astro.props.title, siteTitle].filter(Boolean).join(' &#124; ')} />

    <meta name="robots" content="noindex" />

    <script src="../scripts/main.ts"></script>

    {description && <meta name="description" content={description} />}
    <meta property="og:title" content={isHome ? siteTitle : Astro.props.title} />
    <meta property="og:type" content={ogType} />
    <meta property="og:image" content={resolvedOgImage} />
    {canonicalURL && <meta property="og:url" content={canonicalURL} />}
    {description && <meta property="og:description" content={description} />}
    <meta property="og:site_name" content={siteTitle} />
    <meta property="og:locale" content={`${siteLang}_${siteRegion}`} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content={`@${siteTwitterId}`} />
    <meta name="twitter:title" content={isHome ? siteTitle : Astro.props.title} />
    <meta name="twitter:image" content={resolvedOgImage} />

    <link rel="apple-touch-icon" href={appleTouchIconImage.src} />
    {canonicalURL && <link rel="canonical" href={canonicalURL} />}
    <link rel="icon" href={faviconImage} type="image/svg+xml" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    {
      /**
       * use `100svh` instead of `100dvh`
       * https://piccalil.li/blog/a-more-modern-css-reset/#:~:text=I%20like%20a,to%20change%20it!
       */
    }

    <Header navItems={navItems} isHome={isHome} />
    <main class="pt-[var(--header-height)]">
      <slot />
    </main>
    <Footer />

    {/* https://atfzl.com/don-t-attach-tooltips-to-document-body */}
    <div id="js-overlay-container"></div>
  </body>
</html>
